/* LAYOUT */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  color: gray;
}

h2{
  font-size: 200%;
 }

h3{
  font-size: 160%;
}

.float-left{
  float: left;
}

.w-50{
  width: 50%;
}

.right-text{
  text-align: right;
}

.help{
  position: fixed;
  bottom: -1.5%;
  right: 30%;
  z-index: 999;
}

.help:hover{
  bottom:-0.5%;
}

/* HEADER */

header{
  height: 550px;
  background-color: #0C325A;
}

.header-container{
  width: 100%;
  height: 100%;
  padding: 0 10%;
  min-width: 1400px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 110% 110%;
  
}

.header-nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.header-logo{
 width: 15%;
 
}

.header-logo img{
  margin-top: 14px;
}

.header-nav-center{
  width: 45%;
}

.header-nav-right{
  width: 40%;
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline;
  padding: 0 10px;
}

.menu-inline li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
}

/* BOTTONI */

.btn{
  display: inline-block;
  line-height: 20px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
}

.btn.btn-blue{
  border: 1px solid #fff;
  padding: 5px 30px;
}

.btn.btn-green{
  background-color: #7CBB04;
}

.btn.btn-green.btn-large{
  padding: 15px;
}

/* JUMBOTRON */

.jumbotron{
  position: relative;
  height:470px;
}

.jumbotron-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-text h1{
  color: #fff;
  font-size: 350%;
  margin-bottom: 30px;
}
/* MAIN */

/* PRIMA SEZIONE */

.center-text{
  text-align: center;
}


.title{
  margin-bottom: 10px;
  color: black;
}

.gray-bar{
  background-color: #D3D3D3;
  height: 100px;
}

.top.gray-bar{
  position: relative;
}

.top.gray-bar div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


 /* SECONDA SEZIONE */

 .contain{
   width: 80%;
   margin: 0 auto;
 }

 .main-box{
  width: calc(100% / 3);
 }

.box{
  width: 100%;
  padding: 5% 15%;
}

.title-green{
  color:#7CBB04;
  margin-bottom: 10px;
}

.main-box .box h3{
  min-height: 60px;
}

 .box img{
   height: 120px;
   margin-bottom: 20px;
 }

 .box .img-profile{
  width: 100px;
 }

 .box .img-computer{
   width: 200px;
 }

 .box .img-doc{
   width: 150px;
 }

 .line-border{
   width: 70px;
   border-top: 1px solid black;
   margin: auto;
 }

 .box p{
   line-height: 20px;
   margin-top: 20px;
 }

 /* TERZA SEZIONE */

 .line-border-large{
   width: calc(100% - 20px);
   margin: 0 10px;
   border-top: 2px solid #D3D3D3; 
 }

 .box-large{
   padding: 50px;
 }

 .box-large p{
   margin-bottom: 20px;
   padding-right: 150px;
 }

 /* QUARTA SEZIONE */

 .bot.gray-bar{
   line-height: 100px;
   min-width: 1000px;
 }

 .bot.gray-bar .contain .select{
   margin: 0 5%;
   border-bottom: 1px solid black;
   line-height: 20px;
   cursor: pointer;
 }

 .bot.gray-bar .contain h2{
  width: 50%;
  color: black;
}

 .bot.gray-bar .contain div.text-select{
   width: 50%; 
 }

 .bot.gray-bar .contain div.text-select i{
   padding-left: 20%;
   
 }

 /* QUINTA SEZIONE */

 .small-contain{
   width: 60%;
   margin: auto;
 }

 .margin-text-p{
   margin: 30px 0;
 }